.navLinks__open {
  display: flex;
}

.menu-item {
  color: #fafafa;
}

.hero-header {
  background-image: url('./img/backgrounds/pexels-nick-collins-1293120.jpg');
  background-repeat: repeat;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.hero__section{
  background: url('./img/backgrounds/hero-background.jpg');
  background-size: cover;
  background-position: top;
}

.project{
  background: rgba(250, 250, 250,0.1);
}
