.navLinks__open {
  display: flex;
}

.menu-item {
  color: #fafafa;
}

.hero-header {
  background-image: url('./img/backgrounds/pexels-nick-collins-1293120.jpg');
  background-repeat: repeat;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.hero__section{
  background: url('./img/backgrounds/hero-background.jpg');
  background-size: cover;
  background-position: top;
}

.project{
  background: rgba(250, 250, 250,0.1);
}


.featuredSpeaker__img-container{
  position: relative;
  height: 130px;
  width: 130px;
  /*border: 1px solid red;*/
}

.featuredSpeaker__img-container .chess_board{
  position: absolute;
  height: 50px;
  width: 50px;
  top: 0;
  left: 0;
}

.featuredSpeaker__img-container .speaker{
  width: 120px;
  height: 120px;
  position: absolute;
  bottom: 0;
  right: 0;
  object-fit: cover;
}